@import "bootstrap-sprockets";
@import "bootstrap";
@import "owl.carousel";
@import "owl.theme";


// *= require owl.carousel
// *= require owl.theme

.register-form {
    width: 40%;
    height: 20%;
    background: #CCCCCC;

}
.centered {
    text-align: center;
}

// usado para esconder elementos
.rf-hide{
	display: none;
}

#form-title {
    text-align: center;
}

.footer {
 	// position: fixed;
    // height: 60px;
    bottom: 0;
    width: 100%;
    background: #f5f5f5;
}


#teacher_info, #courses {
	background: white;
	min-height: 200px;
	border-radius: 5px;
	padding: 2em 8%;
}

#page {
	min-height:100%;
	position:relative;
}

.form-inline {
	margin-top: 15px;
}
.form-input {
	width: 65% !important;
	float: left;
}
.form-button {
	float: left;
	width: 30% !important;
	margin-left: 5%;
}
.add-button {
	margin-top: 25px;
}

.main_content {
	padding: 0 0 20px 0;
}

#teacher_top {
	margin-bottom: 50px;
}
#teacher_info {
	h1 {
		font-size: 36px;
		font-weight: normal;
	
	}
}