@import "bootstrap-sprockets";
@import "bootstrap";

.register-form {
    width: 40%;
    height: 20%;
    background: #CCCCCC;

}
.centered {
    text-align: center;
}

#form-title {
    text-align: center;
}

footer {
    // text-align: center;
    background: #cccfff;
    
    // background:#ffab62;
// 	width:100%;
// 	height:60px;
// 	position:absolute;
// 	bottom:0;
// 	left:0;
}
body{
    background: #D2EAF0;
}


#page {
	min-height:100%;
	position:relative;
}