@import "bootstrap-sprockets";
@import "bootstrap";

.register-form {
    width: 40%;
    height: 20%;
    background: #CCCCCC;

}

#form-title {
    text-align: center;
}

footer {
    text-align: center;
    background: #cccfff;
}