<% if (@user.id == current_user.id) %>

    <h1>Editing User</h1>
    
    <%= render 'form' %>
    
    <%= link_to 'Show', @user %> |
    <%= link_to 'Back', users_path %>
<% else %>
    <div class="container">
        <div class="alert alert-danger fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Atenção!</strong> Você não tem permissão para realizar esta ação.
        </div>
        <%= link_to 'Voltar', :back %>
    </div>

<% end %>
