<div class=container>
    <div class=row>
        <div class='col-md-12'>  
            <h1>Como o portal Reforço funciona?</h1>
            <hr>
            <p align="center">O PORTAL REFORÇO TE AJUDA A ENCONTRAR E CONTRATAR PROFESSORES PARTICULARES EM QUALQUER PARTE DO BRASIL</p>
            <br>
            <br>
            <div class="row" >
                <div class="col-md-4" align="center">
                    <img src="/images/pages/como-funciona/budget_request.png"> 
                    <div class=row>
                        <br>
                        <strong>VEJA AS DIVESAS OPOÇÕES DE PREÇOS</strong>
                        <p>Encontre os melhores professores de acordo com a sua necessidade e solicite orçamentos.</p>
                    </div>
                </div>
                <div class="col-md-4" align="center">
                    <img src="/images/pages/como-funciona/hire.png">
                    <div class=row>
                        <br>
                        <strong>ESCOLHA E CONTRATE</strong>
                        <p>Encontre o professor que mais lhe agrade e contrate.</p>
                    </div>
                </div>
                <div class="col-md-4" align="center">
                    <img src="/images/pages/como-funciona/follow_your_classes.png" > 
                    <div class=row>
                        <br>
                        <strong>APRENDA!</strong>
                        <p>Realize a aula e reagende as próximas no REFORÇO. Assim você aprende ainda mais.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class='col-md-4'>
            <br>
            <p><strong>Como funciona o pagamento?</strong> </p>
            
            <p>Já que na aula online você não encontra o professor pessoalmente, o pagamento acontece 
            antes da aula, via cartão de crédito. Para a sua segurança, só liberamos o pagamento para
            o professor quando tivermos certeza que a aula ocorreu bem. </p>
            <br>
            <p>Alternativamente, você pode pagar ao professor em dinheiro depois da aula realizada. 
            Porém, nós não recomendamos esta forma de pagamento, por não assegurar ao
            aluno o direito a intervenção realizada pelo Profes em caso de imprevistos e disputas. </p>
            <br>
        </div>
        <div class='col-md-8'>
            
        </div>
    </div>
    <div class=row>
        <div class='col-md-7'>
            <img src="/images/pages/como-funciona/how_it_works_recular_classes.png">
                <br>
                <br>
                <br>
                <br>
        </div>
        <div class='col-md-5'>
            <br>
            <br>
            <p><strong>Aulas Presenciais</strong></p>
            <p>Na aula presencial, você combina com o professor se a aula vai ser na sua casa, na casa dele ou em um local público. </p>
        </div>
    </div>
</div>