 <!-- Main jumbotron for a primary marketing message or call to action -->
    
    <body>
    
       <%= render 'shared/navbar' %>
   
    <div class="container-fluid">

      <div class="jumbotron" >
        <h1>Reforço</h1>
        <p>Suas aulas de reforço agora com mais flexibilidade e qualidade!</p>
        <p><a class="btn btn-primary btn-lg" href="matter_teachers" role="button">Encontre seu professor &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Professor</h2>
          <p>Se você é um professor, cadastre-se e comece a receber propostas de todo o mundo. A nossa base conta com milhões de alunos de todo o mundo em busca de profissionais como você.</p>
          <p><a class="btn btn-default" href="teachers" role="button">Comece agora &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Aluno</h2>
          <p>Em busca de orientações diversificadas de profissionais de todo o mundo, que possam lhe atender de forma exclusiva? Encontre sua melhor opção hoje mesmo </p>
          <p><a class="btn btn-default" href="matter_teachers" role="button">Encontre seu professor &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Conheça-nos</h2>
          <p>O portal Reforço, busca ligar pessoas professores e alunos que buscam independẽncia e flexibilidade no aprendizado. As aulas de reforço permite um atendimento exclusivo que faz toda a adiferença na sua carreira.</p>
          <p><a class="btn btn-default" href="#" role="button">Saiba mais &raquo;</a></p>
        </div>
      </div>
    
      <hr>

      <footer>
        <p>&copy; Reforço 2015</p>
      </footer>
    </div> <!-- /container -->
    </body>