        <div >  
                <h1 class="hairline">Quem somos</h1>
                <div class="border border-radius bg-white v-margin v-padding h-padding">
                    <div class="italic">
                        <strong class="blue">Pro.fes</strong> pl, sm <span class="gray">1. </span>Uma maneira descontráida aos professotes. <span class="gray">2. </span>Do verbo professor, que significa ensinar, instruir, capacitar. <span class="gray">3. </span>Orig. do latim professus, "aquele que declarou em público".
                    </div>
                </div>
                <p>Fundado em 2012, o Profes é o maior portal de aulas particulares do Brasil. Somos um marketplace com milhares de professores particulares das mais  diversas áreas do conhecimento. Aqui você encontra uma comunidade de  professores e alunos interessados em ensinar e aprender.</p>
                <p>O Profes é formado por pessoas que acreditam na educação como  instrumento de emancipação e realização pessoal e profissional. Por isso,  nós conectamos os melhores professores particulares a alunos que pretendem aprender desde os conceitos fundamentais de matemática, física, química e português até aqueles que desejam conhecer um novo idioma ou adquirir um nova habilidade, como dançar ou tocar violão.</p>
                <p>Faça parte dessa história. Profes, mais que um site, um lugar onde professores e alunos se encontram.</p>
                <p>Se tiver qualquer dúvida, acesse a nossa <a href="/ajuda/" title="Central de ajuda"><strong>Central de ajuda</strong></a>. Para saber mais, veja em mais detalhes <a href="/info/como-funciona/" title="Como funciona"><strong>como funciona</strong></a>.</p>
        </div>