        <div class="container">  
                <h1> Quem somos</h1>
                <hr>
                <div class="border border-radius bg-white v-margin v-padding h-padding">
                </div>
                <p>Fundado em 2015, o REFORÇO é um novo portal um dos maiores portais de aulas particulares do Brasil.
                 Somos um marketplace com milhares de professores particulares das mais  diversas áreas do conhecimento. 
                 Aqui você encontra uma comunidade de  professores e alunos interessados em ensinar e aprender.</p>
                <p>O REFORÇO é formado por pessoas que acreditam na educação como  instrumento de emancipação e realização
                pessoal e profissional. Por isso,  nós conectamos os melhores professores particulares a alunos que pretendem
                aprender desde os conceitos fundamentais de matemática, física, química e português até aqueles que desejam 
                conhecer um novo idioma ou adquirir um nova habilidade, como dançar ou tocar violão.</p>
                <p>Faça parte dessa história. REFORÇO, mais que um site, um lugar onde professores e alunos se encontram.</p>
                <p>Para saber mais, veja em mais detalhes <a href="/pages/como-funciona/" title="Como funciona"><strong>como funciona</strong></a>.</p>
        </div>