<div id="termos" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class=row>
               <h1>Termo de Uso</h1>
               <hr>
            </div>
            <div class="row">
                <span><h3><p>SUMÁRIO DO TERMO DE USO</p></h3></span>
    
                <p>Bem-vindo ao REFORÇO.COM.</p>
                <p>Por favor, leia a Política de Privacidade e os termos de uso ("Termos de Uso" ou “Termo de Uso”) antes de se cadastrar no portal REFORÇO.COM ou acessar qualquer parte do site do REFORÇO.COM (o "Site", que consiste de todos os conteúdos e páginas localizadas dentro do domínio web portal REFORÇO.COM), incluindo acesso a qualquer material, salas de chat ou outros serviços eletrônicos. Ao utilizar o Site, você aceita, concorda e legalmente se obriga aos Termos de Uso e a Política de Privacidade, mesmo sem a realização do cadastro no Site. Se você não entende ou não deseja se obrigar aos Termos de Uso ou a Política de Privacidade, você não deve acessar o Site.</p>
                
                <p>REFORÇO.COM reserva-se o direito de modificar os Termos de Uso a qualquer momento sem aviso prévio. Quaisquer alterações aos Termos de Uso entrarão em vigor imediatamente após sua publicação no Site, vigendo por prazo indeterminado. Ao acessar o Site, após quaisquer alterações, você automaticamente manifesta sua concordância com as modificações dos Termos de Uso.</p>
            </div>
            <div class=row>
                <span><h3><p>DESCRIÇÃO DO REFORÇO.COM</p></h3></span>
                
                <p>O REFORÇO.COM é uma plataforma virtual que objetiva viabilizar a prestação de serviços educacionais (“Aula”) por autônomos (“Autônomos”), de maneira presencial ou virtual. O REFORÇO.COM disponibiliza os perfis dos Autônomos em seu Site, conforme cadastros preenchidos por estes, para contratação direta e independente pelos interessados.</p>
            </div>


            <div class=row>
                <span><h3><p>COMO USAR</p></h3></span>
                
                <p>1. Para contratar os serviços educacionais divulgados no Site o interessado deve efetuar um cadastro único gratuito, criando uma senha pessoal e intransferível.</p>

                <p>2. Antes de decidir pela contratação do serviço educacional do Autônomo, o interessado deverá atentar-se:</p>
                
                <p>(a) à capacitação informada pelo Autônomo; 
                (b) às avaliações do Autônomo publicadas no Site;
                (c) ao preço da Aula determinado pelo Autônomo; 
                (d) ao lapso temporal da Aula; 
                (e) às formas de pagamento que o Autônomo aceita; e 
                (f) à disponibilidade de agenda do Autônomo.</p>
                
                <p>3. A contratação dos serviços educacionais do Autônomo é feita diretamente pelo interessado, de maneira independente, sem qualquer intervenção do REFORÇO.COM.</p>
                
                <p>4. O REFORÇO.COM disponibiliza um sistema para que os USUÁRIOS avaliem as Aulas contratadas, respeitando a liberdade de expressão de quem opina. A avaliação feita passa a integrar o perfil do Autônomo. Estas avaliações não refletem indicação ou opinião do Site. Somente as Aulas agendadas e pagas por meio do REFORÇO.COM poderão receber avaliação dos USUÁRIOS.</p>
                
                <p>5. Os USUÁRIOS são proibidos de trocar meios de contato como telefone, email, endereço e outras externas de comunicação, com qualquer usuário, com o objetivo de realizar a contratação das Aulas por fora da plataforma.</p>

            </div>

             <div class=row>
                <span><h3><p>SERVIÇOS PRESTADOS PELO SITE</p></h3></span>

                <p>1. Busca gratuita: serviço online de busca das Aulas oferecidas pelos Autônomos.</p>

                <p>2. Publicidade gratuita: serviço online de disponibilização de espaços virtuais para divulgação dos perfis e das Aulas oferecidas pelos Autônomos.</p>
                
                <p>3. Publicidade paga: serviço online de disponibilização de espaços virtuais para divulgação em destaque dos perfis e Aulas oferecidas pelos Autônomos, ou para anúncios diversos (condições regidas por termo específico).</p>
                
                <p>4. Licença de uso de Software: licenciamento de uso de software para Autônomos realizarem a gestão de agenda de Aulas, financeira (pagamentos digitais), avaliações e a realização de aulas virtuais (condições regidas por termo específico).</p>
                
                <p>O REFORÇO.COM (a) não é prestador de serviços educacionais; (b) não tem qualquer vínculo empregatício com os Autônomos cadastrados no Site; (c) não tem qualquer responsabilidade pela prestação de serviços realizada pelos Autônomos; e (d) não tem qualquer responsabilidade pela veracidade das informações fornecidas ou cadastradas pelos Autônomos.</p>
                
                <p>O REFORÇO.COM monitora as ações e pode moderar qualquer conteúdo inserido no Site, sendo que qualquer violação passível de bloqueio ou cancelamento da conta do USUÁRIO.</p>
                
                <p>Este sumário é parte integrante dos Termos de Uso, de forma que os termos ora definidos poderão ser utilizados no Termo de Uso, no plural ou no singular, com o mesmo significado a eles determinados neste sumário.</p>

            </div>
            
            <div class=row>
                <span><h3><p>TERMO DE USO</p></h3></span>
                <span><h4><p>1. Abrangência</p></h4></span>

                <p>Este Termo de Uso aplica-se entre, de um lado, REFORÇO.COM (ITEAS SOLUÇÕES DIGITAIS LTDA., inscrita no CNPJ/MF sob o nº 17.933.713/0001-00) (“REFORÇO.COM”) e, de outro lado, toda e qualquer pessoa física ou jurídica que acesse o Site ou realize o seu cadastro, com o intuito de contratar ou prestar serviços educacionais (o “USUÁRIO”), e rege a utilização do Site pelo USUÁRIO, determinando as responsabilidades, deveres e obrigações que todo USUÁRIO assume ao acessar e/ou utilizar o Site.</p>
                
                <p>Ao acessar o Site, assim como na realização de seu cadastro, o USUÁRIO fica ciente e concorda que está sujeito a todas as disposições deste Termo de Uso e da Política de Privacidade, declarando, para todos os fins de direito, possuir capacidade jurídica para tanto.</p>
                
                <p>O USUÁRIO pessoa física deverá ser maior de idade ou emancipado, e deve gozar de plena capacidade civil e penal. A utilização dos serviços por USUÁRIOS menores de idade está condicionada a autorização dos pais, tutores, curadores ou representantes legais, que serão responsáveis por todos os atos praticados pelos USUÁRIOS menores no Site, dentre os quais eventuais danos causados a terceiros, práticas de atos vedados pela lei e pelas disposições deste Termo de Uso, sem prejuízo da responsabilidade do contratante, se este não for o pai ou o representante legal do menor infrator. Cabe aos responsáveis avaliar e autorizar ou não a visitação do Site pelos menores de idade. O REFORÇO.COM não se responsabiliza pelo controle de acesso ou pela utilização indevida por USUÁRIOS menores de idade.</p>
                
                <span><h4><p>2. Condições gerais de uso</p></h4></span>
                
                <p>O USUÁRIO fica ciente e concorda que a utilização dos serviços de busca e publicidade contidos no Site REFORÇO.COM devem ser realizados com finalidade exclusivamente pessoal e imediata. Os mapas, endereços, imagens, informações e qualquer outro conteúdo existente no Site podem não retratar fielmente a situação real em que se encontram.</p>
                
                <p>O USUÁRIO que utiliza o Site REFORÇO.COM para prestar ou contratar serviços, o faz por sua conta e risco, sem que o REFORÇO.COM seja responsável pela veracidade das informações prestadas pelos USUÁRIOS, assim como pela qualidade e demais atributos e detalhes daquilo que é ofertado.</p>
                
                <p>Os USUÁRIOS ficam cientes e concordam que o REFORÇO.COM não poderá garantir a qualidade das Aulas oferecidas pelos Autônomos, nem pela exatidão, completude, adequação, efetividade, confiabilidade ou utilidade das informações ou de qualquer outro conteúdo inserido ou ministrado no Site pelos USUÁRIOS.</p>
                
                <p>Desse modo recomenda-se ao USUÁRIO que verifique a veracidade das informações obtidas e proceda, eventualmente, às medidas cabíveis para sua proteção com relação a eventuais danos.</p>
                
                <p>O Site REFORÇO.COM captura e divulga anúncios advindos de diversos Autônomos, logo, não atua como prestador de serviços de consultoria ou ainda intermediário ou participante em nenhum negócio que venha a ser eventualmente realizado entre USUÁRIO(S) e Autônomo(s).</p>
                
                <p>O REFORÇO.COM não é fornecedor dos produtos e/ou serviços anunciados exclusivamente pelos Autônomos e não participa ou interfere, de qualquer forma, da negociação e/ou efetivação de quaisquer transações.</p>
                
                <p>O REFORÇO.COM não será responsável pelos negócios e/ou transações, efetivadas ou não, entre USUÁRIOS ou entre USUÁRIOS e terceiros. O USUÁRIO está ciente de que o REFORÇO.COM não deve ser responsabilizado ou sujeitar-se a quaisquer perdas e/ou danos incorridos em face destas transações. Os USUÁRIOS concordam que, em caso de litígio entre USUÁRIOS ou entre USUÁRIOS e terceiros, o REFORÇO.COM não será, de qualquer forma, envolvido ou responsabilizado.
                
                <p>O USUÁRIO fica ciente e concorda que o REFORÇO.COM tem total liberdade para acrescentar ou remover funcionalidades, bem como controlar e alterar a visualização dos anúncios.</p>
                
                <span><h4><p>3. Cadastro e senha do usuário</p></h4></span>

                <p>A utilização de determinadas funcionalidades do serviço REFORÇO.COM se condiciona ao prévio cadastro do USUÁRIO, por meio do Site, mediante o fornecimento dos dados pessoais solicitados, definição de uma identificação ou indicação de um endereço de e-mail, bem como de uma senha, de uso pessoal e intransferível.</p>
                
                <p>O USUÁRIO também poderá se cadastrar utilizando serviço de autenticação de terceiros (Facebook). Desta forma, sua senha e e-mail cadastrado continuam sendo pessoal e de sua exclusiva responsabilidade.</p>
                
                <p>O USUÁRIO deverá fornecer ao REFORÇO.COM, por ocasião do seu cadastro, informações verdadeiras, atuais e completas, bem como a assim mantê-las durante todo o período em que utilizar o serviço REFORÇO.COM.</p>
                
                <p>O USUÁRIO deverá, ainda, manter a confidencialidade e pessoalidade da sua senha e a notificar imediatamente o REFORÇO.COM a respeito de eventual acesso indevido ou uso não autorizado da sua senha por terceiros.</p>
                
                <p>O USUÁRIO só poderá manter um único cadastro no Site.</p>
                
                <p>O USUÁRIO, ao seu exclusivo critério, poderá a qualquer momento cessar a utilização do serviço, através do cancelamento de sua conta, sendo que alguns conteúdos gerados por este (como avaliações, blog, perguntas e respostas) permanecerão no Site.</p>
                
                <p>O REFORÇO.COM poderá, a qualquer tempo, excluir o USUÁRIO do Site em razão de inobservância às condições dos Termos de Uso, comunicando o cancelamento da conta via e-mail.</p>
                
                <span><h4><p>4. Agendamento, pagamento, regras de cancelamentos de aulas e conflitos</p></h4></span>
                
                
                <p>Os agendamentos das Aulas pelo USUÁRIO serão feitos através do Site, conforme a disponibilidade de agenda do Autônomo. Os pagamentos das aulas agendadas podem ocorrer antes da aula via Paypal ou após a aula diretamente ao Autônomo (conforme forma de pagamento determinada por este).</p>
                
                <p>A) Para pagamentos via Paypal:</p>
                
                <p>i. o USUÁRIO deverá manter uma conta no Paypal (meio de pagamento online – www.paypal.com.br) através do qual poderão ser feitas as transações financeiras relacionadas ao pagamento das Aulas. O pagamento poderá ser realizado por qualquer um dos meios disponíveis pelo Paypal;</p>
                
                <p>ii. o USUÁRIO deverá aceitar e observar os termos e condições de uso do sistema Paypal, sendo certo que o REFORÇO.COM não tem qualquer ingerência ou responsabilidade sobre os mesmos, ou mesmo pela manutenção e qualidade dos serviços prestados pelo Paypal;</p>
                
                <p>Caso o Autônomo recuse o agendamento da aula, nenhum valor será cobrado do USUÁRIO, cuja ordem de pagamento será automaticamente cancelada;</p>
                
                <p>Somente com a utilização do sistema de pagamento antecipado via Paypal, o REFORÇO.COM pode garantir o pagamento ao Autônomo e ao mesmo tempo garantir aos USUÁRIOS o respeito aos termos de cancelamento e falta, conforme indicados abaixo.</p>
                
                <p>Na hipótese de cancelamentos, não comparecimento ou ausência de aulas, fica ajustado o seguinte:</p>
                
                <p>i. Cancelamento com antecedência mínima de 24 horas: Para cancelamentos feitos com antecedência mínima de 24 (vinte e quatro) horas do horário de início da aula, não haverá qualquer ônus para o mesmo, podendo escolher entre utilizar seu crédito em outro agendamento ou estorno no mesmo meio de pagamento utilizado.</p>
                
                <p>ii. Cancelamento com menos de 24 horas: Para cancelamentos com menos de 24 (vinte e quatro) horas antes do horário de início da aula, o USUÁRIO poderá utilizar o valor pago como crédito para outra aula com o mesmo Autônomo, sem qualquer penalidade, ou caso escolha pelo estorno, será cobrado o valor equivalente a 40% (quarenta por cento) do valor pago, como forma de compensação ao Autônomo pelo bloqueio do horário de aula.</p>
                
                <p>iii. Não comparecimento ou ausência: Caso o USUÁRIO não compareça no horário agendado da aula, este não fará jus ao ressarcimento de qualquer valor pago.</p>
                
                <p>O USUÁRIO poderá abrir chamados de reclamações contra Autônomos, requerendo inclusive o estorno do pagamento referente às aulas ministradas, em até 5 (cinco) dias da data de realização. Nestas hipóteses, o Autônomo e o USUÁRIO que fez a reclamação deverão envidar seus melhores esforços para chegar a uma solução para o caso, podendo solicitar aos colaboradores indicados pelo REFORÇO.COM auxílio na mediação do conflito. Durante este período de tratativas, o pagamento devido ao Autônomo ficará bloqueado em sua conta Paypal, até que seja dada uma solução para o caso. Após a solução do conflito, fica a critério do Autônomo a liberação do pagamento para sua conta ou a realização do estorno para o USUÁRIO.</p>
                
                <p>O REFORÇO.COM não tem qualquer responsabilidade ou obrigação relacionada à prestação de serviços realizada pelo Autônomo para o USUÁRIO, ou aos conflitos relativos à referida prestação, de modo que não tem obrigação de apresentar respectiva resolução.</p>
                
                <p>B) Para pagamentos realizados diretamente ao Autônomo:</p>
                
                <p>Ao aceitar e optar por receber o pagamento diretamente (dinheiro, cheque, depósito em conta ou outro meio que não através do REFORÇO.COM) Autônomo e USUÁRIO expressamente concordam que o REFORÇO.COM não pode garantir o pagamento da aula, não pode garantir o respeito às políticas de cancelamento e falta e não pode auxiliar na mediação eventuais conflitos.</p>
                
                <span><h4><p>5. Conteúdo criado pelo usuário</p></h4></span>
                
                <p>O USUÁRIO poderá incluir informações pessoais, avaliações, comentários, mensagens, imagens, fotos, perguntas, respostas, sugestões e artigos, para exibição no Site, e qualquer pessoa poderá visualizar o conteúdo disponibilizado pelo USUÁRIO no Site.</p>
                
                <p>O USUÁRIO deverá fornecer ao REFORÇO.COM, ao incluir qualquer conteúdo para exibição no Site, informações verdadeiras, objetivas, atuais e pertinentes à finalidade da plataforma REFORÇO.COM, de forma ética, moral e lícita.</p>
                
                <p>O USUÁRIO é inteiramente responsável pela origem das imagens, sons, vídeos, materiais e conteúdos que envie e/ou divulgue, de modo que, ao enviar e/ou divulgar informações, o USUÁRIO afirma, declara e garante que (a) tem os necessários direitos, licenças, autorizações e/ou permissões para reproduzir e publicar as informações enviadas e/ou divulgadas; e (b) o envio e/ou divulgação das informações não infringem ou violam os direitos de quaisquer terceiros.</p>
                
                <p>O USUÁRIO é o único responsável por todo conteúdo de sua autoria ou por ele enviado, divulgado, transmitido por e-mail ou associado a link disponibilizado; assim como pelo seu uso, divulgação ou publicação, devendo o USUÁRIO manter o REFORÇO.COM, seus funcionários, parceiros e controladores livres e indenes de toda e qualquer consequência advinda de seus atos/omissões, inclusive em relação a terceiros, não podendo o Site ser responsabilizado pelo envio e/ou divulgação de informações em inobservância aos Termos de Uso e às normas legais aplicáveis.</p>
                
                <span><h4><p>6. Práticas proibidas</p></h4></span>
                
                <p>O USUÁRIO fica ciente e concorda que, no acesso e utilização do Site, é terminantemente proibido:</p>
                
                <p>i. Distribuir, modificar, vender, alugar ou de qualquer forma explorar economicamente o serviço REFORÇO.COM, os dados e informações a ele relacionados, bem como utilizá-los para finalidade que não seja pessoal e imediata ou, ainda, para a criação ou fornecimento de outros produtos ou serviços;</p>
                
                <p>ii. O USUÁRIO se compromete a não praticar atos que:</p>
                
                <p>- Violem a lei, a moral, os bons costumes, a propriedade intelectual, os direitos à honra, à vida privada, o sigilo das comunicações, à imagem, à intimidade pessoal e familiar;</p>
                <p>- Infrinjam patentes, marcas, segredos comerciais, direitos autorais;</p>
                <p>- Estimulem a prática de condutas ilícitas;</p>
                <p>- Incitem a prática de atos de discriminação, seja em razão de sexo, raça, religião, crenças, idade ou qualquer outra condição;</p>
                <p>- Coloquem à disposição ou possibilitem o acesso a mensagens, produtos ou serviços ilícitos, violentos, pornográficos, degradantes;</p>
                <p>- Induzam ou incitem práticas perigosas, de risco ou nocivas para a saúde e para o equilíbrio psíquico;</p>
                <p>- Sejam falsos, ambíguos, inexatos, exagerados, de forma que possam induzir a erro sobre seu objeto ou sobre as intenções ou propósitos do comunicador;</p>
                <p>- Constituam publicidade ilícita, enganosa ou desleal, e que configurem concorrência desleal;</p>
                <p>- Veiculem, incitem ou estimulem a pedofilia;</p>
                <p>- Hostilizem terceiros;</p>
                <p>- Transmitam conteúdos ilegais, danosos, incômodos, ameaçadores, abusivos, tortuosos, difamatórios, vulgares, obscenos, invasores da intimidade de terceiros, odiosos, xenófobos, ou, de algum modo, inaceitáveis; e/ou</p>
                <p>- Sejam considerados como práticas de Spam.</p>
                <p>iii. Fornecer ao REFORÇO.COM, por ocasião do cadastro e preenchimento de perfil no Site, informações falsas, inexatas, desatualizadas ou incompletas, bem como assumir intencionalmente a personalidade de outra pessoa, física ou jurídica;</p>
                
                <p>iv. Incluir meios de contato como telefone, email, endereço e outras externas de comunicação em campos públicos do perfil, os quais não USUÁRIOS tenham acesso;</p>
                
                <p>v. Trocar meios de contato como telefone, email, endereço e outras externas de comunicação, com qualquer usuário, com o objetivo de realizar a contratação das Aulas por fora da plataforma.</p>
                
                <p>vi. Disseminar ou instalar vírus ou qualquer outro código, arquivo ou software com o propósito de interromper, destruir, acessar indevidamente, limitar ou interferir no funcionamento ou segurança do serviço REFORÇO.COM, bem como das informações, dados e equipamentos do REFORÇO.COM, de seus USUÁRIOS ou de terceiros, ou, ainda, para qualquer outra finalidade ilícita; e</p>
                
                <p>vii. Praticar qualquer ato contrário à legislação em vigor.</p>
                
                <p>Os conteúdos inseridos no portal REFORÇO.COM estarão sujeitos ao monitoramento e moderação posterior ao seu envio e/ou divulgação, quanto ao teor e qualidade, podendo ser excluídos ou suprimidos se violarem qualquer um dos dispositivos legais ou dos Termos de Uso.</p>
                
                <p>O REFORÇO.COM não controla os conteúdos transmitidos ou disponibilizados a terceiros pelo USUÁRIO no acesso ou utilização do Site. Não obstante, ao detectar qualquer conduta e/ou método do USUÁRIO que contrarie o disposto neste Termo de Uso, poderá excluir/suspender avaliação do REFORÇO.COM e poderá notificar, posteriormente, o USUÁRIO para que a situação seja regularizada.</p>
                
                <p>Qualquer pessoa, USUÁRIO ou não, que se sentir lesado em relação a qualquer conteúdo, poderá encaminhar ao REFORÇO.COM notificação solicitando sua retirada.</p>
                
                <p>O REFORÇO.COM não se responsabiliza pelo destino sugerido em links vinculados na página dos estabelecimentos e não mantém vínculos com outros sites eventualmente sugeridos por estes links.</p>
                
                
                <span><h4><p>7. Bloqueio e cancelamento de cadastro do usuário</p></h4></span>
                
                <p>O USUÁRIO fica ciente e concorda que o REFORÇO.COM, tomando conhecimento de qualquer violação ao disposto neste Termo de Uso, poderá bloquear temporariamente ou cancelar em caráter definitivo o seu cadastro no Site portalREFORÇO.COM.com, independentemente de prévia comunicação.</p>
                
                <p>O REFORÇO.COM poderá bloquear e cancelar cadastros de USUÁRIOS que apresentem qualificações negativas de forma reiterada por outros USUÁRIOS.</p>
                
                
                <span><h4><p>8. Utilização e divulgação de dados do usuário</p></h4></span>
                
                <p>O USUÁRIO fica ciente e concorda que o REFORÇO.COM poderá utilizar o endereço de e-mail porventura fornecido por ocasião do seu cadastro no Site para o envio de informações, de qualquer natureza, relacionadas ao serviço REFORÇO.COM.</p>
                
                <p>O USUÁRIO fica ciente e concorda que os dados que fornece ao REFORÇO.COM e os porventura registrados por este, por ocasião de seu cadastro e em decorrência da utilização dos serviços, incluindo informações relativas à sua identificação e localização, poderão, eventualmente ser preservados e/ou fornecidos às autoridades competentes em cumprimento de ordens judiciais.</p>
                
                
                <span><h4><p>9. Cessão do direito patrimonial</p></h4></span>
                
                
                <p>O USUÁRIO cede gratuitamente ao REFORÇO.COM o direito de obter, armazenar, usar, dispor, editar, publicar, republicar e reproduzir seus conteúdos, como suas avaliações, comentários, perguntas, respostas, artigos, e aulas online (com as respectivas imagens, áudios, vídeos, voz, conteúdo, desenhos, produções e ilustrações) de sua autoria, escritos ou não, postados e gravados no Site.</p>
                
                <p>Para pleno exercício das atividades do REFORÇO.COM, o USUÁRIO lhe cede ainda, em caráter definitivo e irrevogável, os direitos patrimoniais dos conteúdos de sua autoria, exclusivamente postados e gravados no Site.</p>
                
                <p>A presente cessão é realizada em caráter definitivo e irrevogável, para que o REFORÇO.COM dela possa se utilizar, no todo ou em parte, em todo território nacional, por tempo indeterminado, em qualquer de suas publicações, sem limitações, por suportes de qualquer natureza e mediante qualquer processo, em qualquer forma e formato.</p>
                
                
                <span><h4><p>10. Responsabilidade</p></h4></span>
                
                
                <p>O USUÁRIO fica ciente e concorda que o REFORÇO.COM não é responsável:</p>
                
                <p>i. por eventual falta de qualidade, de exatidão, de completude, de adequação, de efetividade, de confiabilidade ou de utilidade dos mapas, endereços, estabelecimentos, imagens, informações, avaliações, comentário ou de qualquer outro conteúdo do serviço REFORÇO.COM;</p>
                
                <p>ii. por qualquer serviço, anúncio, propaganda, imagem, texto ou outro conteúdo relacionado ao serviço REFORÇO.COM que seja criado, mantido ou prestado por USUÁRIOS ou por terceiros, ainda que acessível ou visualizável no Site;</p>
                
                <p>iii. pelas condições reais de uso, consequências e eventuais danos decorrentes do uso dos mapas, endereços, estabelecimentos, Autônomos, imagens, informações avaliações, comentário ou de qualquer outro conteúdo dos serviços de informação prestados pelo REFORÇO.COM;</p>
                
                <p>iv. por eventuais danos decorrentes da inobservância, pelo USUÁRIO, do dever de manutenção da confidencialidade e pessoalidade da sua senha, bem como da falta ou atraso no envio de notificação ao REFORÇO.COM a respeito de eventual acesso indevido ou uso não autorizado da sua senha por terceiros;</p>
                
                <p>v. por qualquer dano sofrido pelo USUÁRIO em decorrência da conduta de outros USUÁRIOS ou terceiros, ainda que no âmbito do serviço REFORÇO.COM;</p>
                
                <p>vi. por interceptações ilegais ou violação de seus sistemas ou bases de dados por parte de pessoas não autorizadas;</p>
                
                <p>vii. por qualquer dano sofrido pelo USUÁRIO em decorrência da remoção de qualquer conteúdo que criar, incluir ou divulgar no serviço REFORÇO.COM, do cancelamento do seu cadastro no Site, bem como da preservação ou fornecimento de informações a seu respeito, incluindo relativas à sua identificação e localização, pelo REFORÇO.COM, em cumprimento de ordens judiciais;</p>
                
                <p>viii. por eventual modificação, suspensão ou interrupção do serviço REFORÇO.COM;</p>
                
                <p>ix. por manter os serviços disponíveis no período de 24 (vinte e quatro) horas por dia, todos os dias do ano;</p>
                
                <p>x. por obrigações de natureza fiscal, trabalhista, consumerista e demais obrigações incidentes nas transações realizadas através do Site entre USUÁRIOS. Desta forma, todas as obrigações oriundas de suas atividades, são de exclusiva responsabilidade do USUÁRIO.</p>
                
                <p>O USUÁRIO fica ciente e concorda que é integralmente responsável por quaisquer danos decorrentes das ações e ou omissões por si praticadas em inobservância dos Termos de Uso.</p>
                
                <p>O USUÁRIO se compromete a defender, indenizar e isentar de qualquer responsabilidade o REFORÇO.COM, seus executivos, subsidiárias, afiliados, sucessores, prepostos, diretores, agentes, prestadores de serviços, fornecedores e funcionários com relação a toda e qualquer reclamação, perda, dano, obrigação, custos, dívidas ou despesas (incluindo, entre outros, honorários advocatícios e custas processuais) incorridas em razão de: (a) mau uso e acesso do Site; (b) violação e/ou não observância de quaisquer dispositivos deste termo; (c) violação de qualquer direito de terceiros, incluindo, mas sem se limitar a, qualquer direito de propriedade, intelectual ou de privacidade; ou (d) qualquer reclamação de que algum conteúdo causou dano a terceiros. Esta defesa e obrigação de indenização subsistirão a este termo e ao uso e/ou acesso do Site.</p>
                
                <p>O REFORÇO.COM não endossa qualquer conteúdo enviado por qualquer USUÁRIO quer seja uma opinião, recomendação ou conselho ali expresso.</p>
                
                
                <span><h4><p>11. Privacidade</p></h4></span>
                
                
                <p>O uso do Site está sujeito à Política de Privacidade disponível para consulta e praticada no Site, que está incorporada ao Termo de Uso por esta referência. Qualquer restrição que o USUÁRIO venha ter com relação à Política de Privacidade deverá ser notificada ao REFORÇO.COM para que sejam tomadas as providências cabíveis.</p>
                
                
                <span><h4><p>12. Modificação do Termo de Uso</p></h4></span>
                
                
                <p>O USUÁRIO fica ciente e concorda que este Termo de Uso poderá ser alterado pelo REFORÇO.COM, a qualquer tempo.</p>
                
                <p>O REFORÇO.COM notificará os USUÁRIOS a respeito de quaisquer alterações, e fica a critério do USUÁRIO manter a utilização do Site.</p>
                
                <p>O USUÁRIO poderá, a qualquer momento, acessar a versão atualizada deste Termo de Uso no Site.</p>
                
                <p>O uso continuado do Site constitui aceitação da versão mais recente do Termo de Uso e Política de Privacidade.</p>
                
                
                <span><h4><p>13. Regras gerais e Foro</p></h4></span>
                
                
                <p>O USUÁRIO reconhece que o REFORÇO.COM não é obrigado a manter ou armazenar qualquer conteúdo no Site, podendo, a qualquer momento e por qualquer motivo, modificar ou descontinuar o Site, sem aviso prévio, e sem que qualquer obrigação seja criada com os USUÁRIOS ou com terceiros por tais modificações, suspensões ou descontinuidade do Serviço.</p>
                
                <p>O USUÁRIO concorda que o REFORÇO.COM, a seu critério, pode excluir ou desativar sua conta, bloquear seu e-mail ou endereço de IP, ou, de outro modo, encerrar seu acesso ou uso do Site (ou parte dele) imediatamente, sem aviso prévio, além de remover qualquer conteúdo do Site.</p>
                
                <p>Na hipótese de que qualquer item, termo ou disposição deste termo vir a ser declarado nulo ou não aplicável, tal nulidade ou inexequibilidade não afetará quaisquer outros itens, termos ou disposições aqui contidos, os quais permanecerão em pleno vigor e efeito.</p>
                
                <p>As partes elegem o Foro Central da Comarca de Montes Claros/MG para dirimir quaisquer controvérsias e demandas decorrentes ou relacionadas ao objeto dos Termos de Uso, renunciando a qualquer outro, por mais privilegiado que possa ser.</p>
            </div>

        </div>
    </div>
</div>