<footer class="footer">
    
    <div class="container" >
    
        <div class="row">
            
            <div class="col-md-4">
                <ul>
                    <li><h5>Quem Somos</h5></li>
                    <li><a href="<%= root_path %>">Home</a></li>
                    <li><a href="#">Sobre o Professores de Plantão</a></li>
                    <li><a href="pages/termos">Termo de uso</a></li>
                </ul>
            </div>
            
            <div class="col-md-4">
                <ul>
                    <li><h5>Serviços</h5></li>
                    <li><a href="#">Buscar Professores</a></li>
                    <li><a href="#">Buscar Aulas</a></li>
                    <li><a href="#">Seja um Professor</a></li>
                    <li><a href="#">Matérias</a></li>
                </ul>
            </div>
            
            <div class="col-md-4">
                <ul>
                    <li><h5>Ajuda</h5></li>
                    <li><a href="#">Como Funciona</a></li>
                    <li><a href="#">Duvidas Frequentes</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            
            
        </div>
    
    
    
    
        <p class="text-center">© 2015 Reforço WEB. Todos os direitos reservados.</p>
    </div>
    
</footer>