<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Formulário de Contato</h1>
            
            <%= render 'form' %>
            
        </div>
    </div>
</div>