
<% if user_signed_in? %>
  
<!-- <ul class="nav nav-tabs">-->
<!--  <li class="active"><a href="#">Visualizar</a></li>-->
<!--  <li><a href="#">Editar</a></li>-->
<!--</ul>-->
  
<% end %>
<!--<h1>Lista de Matérias</h1>-->
<br>
<div class="container">
	<div class="row">
		<% @area_of_knowledges.each do |ak| %>
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading">
	  			  	<h4> <%= link_to (ak.name), ak %> </h4>
	  			</div>
	  			<% @matter_of_ak = Matter.where( "areaOfKnowledge_id = ? ", ak.id) %>
	  			<div class="panel-body">
					<div class="container">
		        		<% @matter_of_ak.each_with_index do |materias, index| %>
		  			  		<%= link_to (materias.name), materias %>
		  			  		<% if @matter_of_ak.last %> <br> <% end %>
		  			  	<% end %>
					</div>
				</div>
			</div>
		</div>
		<% end %>
	</div> <!--row2-->
		
</div>  <!--container-->